<!DOCTYPE html>
<html lang="zn-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="DD" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="" />
  </head>
  <body>
    <div class="banner">歡迎光臨，這是會員頁</div>
    <div class="block1">
      <div class="login">恭喜您，成功登入系統</div>
      <a href="/signout">登出系統</a>
    </div>
  </body>
</html>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: Arial, Helvetica, 微軟正黑體;
  }

  .banner {
    background-color: #223343;
    color: white;
    text-align: center;
    line-height: 100px;
    width: 100%;
    height: 100px;
  }

  .block1 {
    margin-top: 30px;
    text-align: center;
  }

  .login {
    font-size: 20px;
    margin-bottom: 10px;
  }

  a {
    font-size: 16px;
  }
</style>
